
/*This style  gives the body element in our HTML a cool blue background color*/
body {
    background-color: #ccf5f5;
}

/*This styles the div in the HTML that contains and centers our penguin game*/
#gameholder {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*This styles the title div in or HTML*/
#title {
    width: 600px;
    height: 150px;
    /*This property embeds an image into the background of our div*/
    background-image:url('../media/penguin_title.png');
}
