/* game's background color */

body {
    background-color: #ccf5f5;
}

table {
	width : 600px;
	margin-top: 150px;
    
    font-size: 40px;
    height: 100px;
	font-family: 'Gloria Hallelujah', cursive;
	color: #778F8F;
	text-shadow: 5px 5px #C7D6E9;
	
	vertical-align: middle;
	white-space : normal;
	background-color: #ccf5f5;

}


#score {
text-align: left;
padding-left: 40px;
}
#lives {
text-align: right;
padding-right: 40px;
}

#gameholder {
	width: 600px;
    margin-left: auto;
    margin-right: auto;
	
}



/* image for the header */
#title {
	width: 600px;
	height: 150px;
	background-image: url('./media/penguin_title.png');
}



/* styles for the first penguin*/
.penguin1:hover {
	background-image: url('./media/mound_1_hover.png')
}

.penguin1:active {
	background-image: url('./media/penguin_1.png')
}

.penguin1 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_1.png')
}


.penguin2:hover {
	background-image: url('./media/mound_2_hover.png')
}

.penguin2:active {
	background-image: url('./media/penguin_2.png')
}

.penguin2 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_2.png')
}



.penguin3:hover {
	background-image: url('./media/mound_3_hover.png')
}

.penguin3:active {
	background-image: url('./media/penguin_3.png')
}

.penguin3 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_3.png')
}

.penguin4:hover {
	background-image: url('./media/mound_4_hover.png')
}

.penguin4:active {
	background-image: url('./media/penguin_4.png')
}

.penguin4 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_4.png')
}



.penguin5:hover {
	background-image: url('./media/mound_5_hover.png')
}

.penguin5:active {
	background-image: url('./media/penguin_5.png')
}

.penguin5 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_5.png')
}



.penguin6:hover {
	background-image: url('./media/mound_6_hover.png')
}

.penguin6:active {
	background-image: url('./media/penguin_6.png')
}

.penguin6 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_6.png')
}


.penguin7:hover {
	background-image: url('./media/mound_7_hover.png')
}

.penguin7:active {
	background-image: url('./media/penguin_7.png')
}

.penguin7 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_7.png')
}


.penguin8:hover {
	background-image: url('./media/mound_8_hover.png')
}

.penguin8:active {
	background-image: url('./media/penguin_8.png')
}

.penguin8 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_8.png')
}


.yeti:hover {
	background-image: url('./media/mound_9_hover.png')
}
.yeti:active {
	background-image: url('./media/yeti.png')
}
.yeti {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url('./media/mound_9.png')
}